.header
{
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 5px;
}

.logo{
    width: 150px;
    height: 100px;
}

.nav-items > ul{
    font-size: 22px;;
    display: flex;
    list-style-type: none;
}

.nav-items > ul > li{
   margin: 10px;
   padding: 10px;
}

.res-card{
    
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    /*  */
    width: 300px;
    /* height: 330px; */
    background-color: #f0f0f0;
}

.res-card:hover{
    border: 0.5px solid black;
    cursor: pointer;
}

.food-img{
    width: 100%;
}

.res-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.search-container{
    padding: 10px;
    margin: 10px;
}

.filter-container{
    display: flex;
    flex-wrap: wrap;
}

.btn{
   margin: 10px;
   padding: 10px;
}

.search{
    padding: 10px;
}

.shimmer-card{
    height: 500px;
    width: 300px;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.food-img-shimmer{
    height: 300px;
    width: 300px;
    background-color: #c5c1c1;
    border-radius: 10px;
}

.shimmer-div{
    background-color: #c5c1c1;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    margin-top: 10px;
}


.login-btn{
    padding: 5px;
    margin: 10px;
 }

 .login-btn:hover{
    cursor: pointer;
 }